.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 16px;
  padding: 40px;
  justify-content: center;
}

.cardWrapper {
  border: 1px solid blue;
  border-radius: 4px;
  background-color: white;
}

.memberWrapper {
  padding: 8px;
  text-align: center;
}
